body {
  margin: 0;
  padding: 0;

}
@font-face {
  font-family: clashlight;
  src: url(Assets/fonts/clashdisplay/ClashDisplay-Light.otf);
}
@font-face {
  font-family: clashregular;
  src: url(Assets/fonts/clashdisplay/ClashDisplay-Regular.otf);
}
@font-face {
  font-family: clashbold;
  src: url(Assets/fonts/clashdisplay/ClashDisplay-Bold.otf);
}
@font-face {
  font-family: clashsemibold;
  src: url(Assets/fonts/clashdisplay/ClashDisplay-Semibold.otf);
}
@font-face {
  font-family: clashmedium;
  src: url(Assets/fonts/clashdisplay/ClashDisplay-Medium.otf);
}